<header class="header">
	<div class="header-container">
	<div class="site-title">{{site.title}} </div>
	<div class="description"> {{site.motto}} </div>
	<br/>
		<div class="nav">
			<a href="{{site.baseurl}}/index.html"><i class="fa fa-home"></i> Home</a>
			<a href="{{site.baseurl}}/getting_started/getting_started.html"><i class="fa fa-laptop"></i> Getting started</a>
			<a href="{{site.baseurl}}/creating_a_course/creating_a_course.html"><i class="fa fa-graduation-cap"></i> Teachers</a>
			<a href="{{site.baseurl}}/handson/index.html"><i class="fa fa-user"></i> Students</a>
			<a href="{{site.baseurl}}/about"><i class="fa fa-info-circle"></i> About</a>
		</div>
		<br/>
	</div>
</header>
